<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= f.input :email, label: false, autofocus: true, placeholder:"Your email" %>

  <%= f.input :password, label: false, placeholder: "Password" %>
  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean %>
  <% end -%>

  <%= f.button :submit, "Sign in" %>
<% end %>

<%= render "devise/shared/links" %>
