<!DOCTYPE html>
<html>
<head>
  <title>Penebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container feed-body">
    <%= render "shared/flash" %>
    <%= render "shared/navbar"  %>
    <div class="row-fluid">
      <!-- user info row span 3-->
      <div class="span3">
        <%= yield :user_info %>
      </div>
      <!-- feed row span 7-->
      <div class="span5">
        <%= yield :feed %>
      </div>
    </div>
  </div>
</body>
</html>